body {
    background-image: url("assets/img/boogboogtwerk.gif");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 16px;
    padding: 10px;
}

h1 {
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
}

.list {
    text-align: left;
    margin: 32px;
}